<!DOCTYPE html>
<html>
<head>
  <title>Camping Psalms</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    #searchResults.dropdown-menu {
      margin-top: 0;
    }
    .song-panel {
      margin-top: 20px;
    }
    .lyrics {
      white-space: pre-wrap;
    }
    #sidebar {
      position: fixed;
      top: 0;
      right: -70%;
      width: 70%;
      height: 100%;
      background-color: #f8f9fa;
      border-left: 1px solid #ccc;
      padding: 20px;
      transition: right 0.3s ease-in-out;
    }
    #sidebar.active {
      right: 0;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="d-flex justify-content-between align-items-center w-100">
      <form class="form-inline my-2 my-lg-0">
        <div class="position-relative">
          <input type="text" class="form-control" type="search" id="searchInput" placeholder="Пошук..">
          <div id="searchResults" class="dropdown-menu" aria-labelledby="searchInput">
          </div>
        </div>
      </form>

      <div class="ml-auto">
        <button id="settingsButton" class="btn btn-outline-success">
          <i class="fas fa-cog"></i>
        </button>
      </div>
    </div>
  </nav>

  <div class="container-fluid">    
    <div id="sidebar">
      <div class="d-flex justify-content-between">
        <h4>Налаштування</h4>
        <button id="hideSettingsButton" class="btn">
          <i class="fa fa-close"></i>
        </button>
      </div>
      <hr>
      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="hideAccordsCheckbox" checked>
          <label class="custom-control-label" for="hideAccordsCheckbox">Приховати акорди</label>
        </div>
      </div>
    </div>

    <div id="songPanel" class="song-panel">
      <h2 id="songTitle"></h2>
      <div id="lyrics" class="lyrics"></div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script>
    $(document).ready(function() {
      var settingsButton = $('#settingsButton');
      var hideSettingsButton = $('#hideSettingsButton');
      var sidebar = $('#sidebar');
      var isSidebarActive = false;

      function loadLyrics(id, hideAccords, then) {
        $.get('/records/' + id, { hideAccords }, function(data) {
          var song = data;

          $('#songTitle').text(song.title);
          $('#lyrics').html(song.lyrics);
          
          $('#songPanel').data('id', id);
          $('#songPanel').show();

          if (then) {
            then();
          }
        });
      }

      // Toggle the sidebar
      settingsButton.click(function(e) {
        e.stopPropagation(); // Prevent event propagation
        isSidebarActive = !isSidebarActive;
        sidebar.toggleClass('active', isSidebarActive);
      });

      hideSettingsButton.click(function(e) {
        e.stopPropagation(); // Prevent event propagation
        isSidebarActive = !isSidebarActive;
        sidebar.toggleClass('active', isSidebarActive);
      });

      // Handle the hide accords checkbox change event
      $('#hideAccordsCheckbox').change(function() {
        var id = $('#songPanel').data('id');       
        var hideAccords = $(this).prop('checked');
        
        if (id) {
          loadLyrics(id, hideAccords);
        }
      });

      // Hide autocompletion drop-down when clicking or tapping outside of it
      $(document).on('click touchstart', function(event) {
        var searchResults = $('#searchResults');

        if (!searchResults.is(event.target)) {
          searchResults.removeClass('show');
        }
      });

      // Autocomplete search functionality
      var searchInput = $('#searchInput');
      var searchResults = $('#searchResults');

      searchInput.on('input', function() {
        var query = $(this).val();

        if (query.length >= 4) {          
          $.get('/autocompletion', { search: query }, function(data) {
            var results = data;

            searchResults.empty();

            if (results.length > 0) {
              results.forEach(function(result) {
                var item = $('<a class="dropdown-item" href="#"></a>');
                item.text(result.title);
                item.data('id', result.id);
                searchResults.append(item);
              });
              searchResults.addClass('show');
            } else {
              searchResults.removeClass('show');
            }
          });
        } else {
          searchResults.removeClass('show');
        }
      });

      // Handle dropdown item click
      searchResults.on('click touchstart', '.dropdown-item', function() {
        var id = $(this).data('id');
        var hideAccords = $("#hideAccordsCheckbox").is(':checked');

        loadLyrics(id, hideAccords, function() {
          // Hide dropdown and clear search input
          searchResults.removeClass('show');
          searchInput.val('');
        });
      });
    });
  </script>
</body>
</html>
